<div class="join-container">
  <header class="join-header">
    <h1><i class="fa-solid fa-user-astronaut fa-bounce" style="color: #ffffff;"></i> Outer Space</h1>
  </header>
  <main class="join-main">
    <form action="/chat">
      <div class="form-control border-0">
        <label for="username">暱稱</label>
        <input class="rounded  border-0" type="text" name="username" id="username" placeholder="請輸入暱稱..." required />
      </div>
      <div class="form-control border-0">
        <label for="room">請選擇星球</label>
        <select class="form-select rounded" name="room" id="room">
          <option value="地球">地球</option>
          <option value="金星">金星</option>
          <option value="木星">木星</option>
          <option value="水星">水星</option>
          <option value="火星">火星</option>
          <option value="土星">土星</option>
        </select>
      </div>
      <button type="submit" class="btn">加入聊天</button>
    </form>
  </main>
</div>